Classroom Info
<%= render partial: "classroom", locals: {classroom: @classroom} %>
Students
<ul>
    <li>
        <% if @classroom.students != nil %>
            <% @classroom.students.each do |student| %>
                <%= render partial: "students/student", locals: {student: student} %>
            <% end %>
        <% end %>
    </li>
</ul>